body {
  background-color: black;
  color: yellow;
}

p {
  border: 3px green;
  color: red;
}

h1,
h2 {
  text-align: center;
  font-family: "gloria hallelujah ", Arial, Helvetica, sans-serif;
}

form [type="text"],
[type="email"] {
  padding: 7px;
}
